---
import Aside from "../components/aside.astro";
import Home from "./home.astro";
const { title, desc, frontmatter } = Astro.props;
---

<Home>
    <section>
        <div class="relative mx-auto">
            <div class="relative bg-center bg-cover before:content-[''] before:absolute before:w-full before:h-full before:bg-black/70" style={`background-image: url('${frontmatter.image.src}')`}>
                <div class="relative z-10 h-[70vh] w-full text-white flex flex-col items-center justify-center">
                    <p class="text-lg font-bold text-orange">{frontmatter.categories}</p>
                    <h1 class="font-serif capitalize text-4xl my-5 md:text-5xl">
                        {frontmatter.title}
                      </h1>
                      <p class="text-lg font-bold">{frontmatter.date}</p>
                </div>
            </div>
            <div class="container px-6 py-20 mx-auto">
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="w-full md:w-2/3">
                        <article class="prose lg:prose-xl">
                            <slot>
                        </article>
                    </div>
                    <Aside>
                </div>
            </div>
        </div>
    </section>
</Home>